<link rel="stylesheet" href='{{ "css/style.css" | absURL }}'>

{{ $albumURL := print "/static/img/" ($.Get 0)}}

{{/* <div id="gallery" class="container">
    <div class="row row-cols-4">
        {{ range readDir $albumURL }}
        {{ $imgURL := print "img/" ($.Get 0) "/" .Name | absURL }}
        <div class="col p-1 border">
            <img src="{{ $imgURL }}" class="img rouned float-start" />
        </div>
        {{ end }}
    </div>
</div> */}}
<div class="container">
    <div class="row">
        {{ $img := readDir $albumURL }}
        {{ $num_img := (len $img)}}
        {{ $img_per_set := 12}}
        {{ if gt $num_img 0 }}
        {{ $cor_size := (div $num_img $img_per_set) | math.Ceil | int | default 1 }}
        <div id="carouselExampleIndicators" class="carousel carousel-dark slide">
            <div class="carousel-inner">
                {{ range $i := (seq 0 $cor_size) }}
                <div class="carousel-item {{ if (eq $i 0) }} active {{ end }}">
                    {{ $img_idx := (seq 0 $num_img) }}
                    {{ $start := (mul $i $img_per_set) }}
                    {{ $end := (add $start $img_per_set) }}
                    <div id="gallery" class="container">
                        <div class="row row-cols-4">
                            {{ range $j := (seq $start (sub $end 1)) }}
                            {{ $dir := path.Join "img" ($.Get 0) }}
                            {{ $this := index $img $j }}
                            {{ $thumb := path.Join $dir "thumb" $this.Name | absURL }}
                            {{ $path := path.Join $dir $this.Name | absURL }}
                            <div class="col p-1 border">
                                <img src="{{ $thumb }}" class="img rouned float-start" type="button"
                                    data-bs-toggle="modal" data-bs-target="#staticBackdrop-{{ $j }}" />
                            </div>
                            <div class="modal fade" id="staticBackdrop-{{ $j }}" data-bs-keyboard="false" tabindex="-1"
                                aria-labelledby="staticBackdrop-{{ $j }}Label" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <img src="{{ $path }}" width="100%" height="100%" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="carousel-btn">
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <div class="carousel-indicators">
                    {{ range $i := (seq 0 $cor_size) }}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ $i }}"
                        class="{{ if (eq $i 0) }} active {{ end }}" aria-current="{{ if (eq $i 0) }} true {{ end }}"
                        aria-label="Slide {{ $i }}"></button>
                    {{ end }}
                </div>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        {{ end }}
    </div>
</div>


<!-- Gallery -->
{{/* <div class="image-list">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
        class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" type="button" data-bs-toggle="modal"
        data-bs-target="#imgModal" />
    <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp" class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape" />
    <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp" class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds" />
    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
        class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
        class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />
    <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp" class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park" />
</div>
*/}}
<!--
<div class="row row-col-3">
    <div class="col">Column-1</div>
    <div class="col">Column-2</div>
    <div class="col">Column-3</div>
    <div class="col">Column-4</div>
    <div class="col">Column-5</div>
</div>

<div class="modal fade" id="imgModal" tabindex="-1" aria-labelledby="imgModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">Example images from internet</div>
            <div class="modal-body">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                    class="w-100 shadow-1-strong mb-2" alt="Boat on Calm Water" width="100%" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
-->