[submodule "public"]
	path = public
	url = git@github.com:therimalaya/therimalaya.github.io.git
[submodule "grid-gallery"]
	path = themes/grid-gallery
	url = git@github.com:ExtraSpace/hugo-module-grid-gallery.git
[submodule "cactus-extra"]
	path = themes/cactus-extra
	url = git@github.com:ExtraSpace/cactus-extra-hugo-theme.git
[submodule "themes/moderncv"]
	path = themes/moderncv
	url = git@github.com:ExtraSpace/hugo-moderncv.git
