/* Normalize few things */
.cv * {
    margin: 0;
    padding: 0;
}

/* CV heading with photo */
.cv>.cv-head {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 3fr;
    grid-gap: 25px;
    align-items: center;
}

.cv>.cv-head>.cv-info {
    line-height: 1.9em;
}

.cv>.cv-head>.cv-info h1 {
    font-size: 2.5em;
    text-shadow: 0 0 black;
    padding-bottom: 10px;
}

.cv>.cv-head>.cv-photo {
    outline: 3px solid #383838;
    outline-offset: 3px;
    outline-style: auto;
}

.cv>.cv-head>.cv-info>h1 {
    margin: 0;
    padding-bottom: 10px;
}

.cv>.cv-content {
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 90%;
}

/* CV details general */
h1.cv-header1,
h2.cv-header2,
h3.cv-header3 {
    padding-bottom: 10px;
    padding-top: 15px;
}

/* CV details type-1 */
.cv>.cv-detail.detail-type-1 :is(.row-1, .row-2) {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-column-gap: 10px;
    justify-items: end;
}

.cv-detail.detail-type-1 .row-3 {
    margin-bottom: 20px;
    padding: 5px 10px 0px 10px;
    font-size: 90%;
}

/* CV details type-2 */

.cv>.cv-detail.detail-type-2 .row-1 {
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 10px;
}

.cv>.cv-detail.detail-type-2 :is(.row-1, .row-2) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
    justify-items: end;
}

.cv-detail.detail-type-2 .row-3 {
    margin-bottom: 20px;
    padding: 5px 10px 0px 10px;
    font-size: 90%;
}

/* CV details type-3 */

.cv>.cv-detail.detail-type-3 .row-1 {
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 10px;
}

.cv>.cv-detail.detail-type-3 :is(.row-1, .row-2) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
    justify-items: end;
}

.cv>.cv-detail.detail-type-3>.row-2>.info-3 {
    justify-self: start;
}

.cv-detail.detail-type-3 .row-3 {
    margin-bottom: 20px;
    padding: 5px 10px 0px 10px;
    font-size: 90%;
}

/* CV details type-4 */

.cv>.cv-detail.detail-type-4>p.info {
    display: inline-grid;
    grid-template-columns: auto auto 1fr;
    justify-items: end;
    width: 100%;
}

.cv>.cv-detail.detail-type-4>p.info>#position:before {
    content: ", ";
}

/* CV Education entry */
.cv>.cv-detail.cv-bib-entry>p.doi {
    padding-bottom: 15px;
}

.cv>.cv-detail>.cv-conf-entry,
.cv>.cv-detail>.cv-acdmy-entry {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr auto;
}

.cv>.cv-detail>.cv-acdmy-entry :is(.info-2, .info-4),
.cv>.cv-detail>.cv-conf-entry :is(.info-2, .info-4) {
    text-align: right;
}

/* CV Skills */
.cv>.cv-detail>.detail-skills-1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 15px;
}

.cv>.cv-detail>.detail-skills-1>p.info-1 {
    grid-column: 1/3;
    padding-bottom: 10px;
}

.cv>.cv-detail>.detail-skills-1>ul.info-2 {
    list-style: circle;
    grid-column: 2;
    grid-row: 2;
    background-color: #19875430;
    padding: 10px;
}

.cv>.cv-detail>.detail-skills-1>ul.info-2>li {
    margin-left: 15px;
}


.cv>.cv-detail>.detail-skills-1 div.info-3 {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-column: 1;
    grid-row: 2
}

.cv>.cv-detail>.detail-skills-1 div.info-3>.key {
    font-weight: bolder;
}

.cv>.cv-detail>.detail-skills-1 div.info-3>.value {
    text-align: left;
}

.cv>.cv-detail.detail-skills-2>ul {
    list-style: circle;
}

.cv>.cv-detail.detail-skills-2>ul>li {
    margin-left: 15px;
}

.cv>.cv-details>.cv-detail.cv-languages>.cv-language>dl {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: stretch;
    grid-column-gap: 15px;
}
.cv>.cv-details.cv-lang-details {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

/* Small Screen changes */
@media (max-width: 480px) {

    .cv>.cv-head {
        grid-template-columns: 1fr;
    }

    .cv>.cv-detail.detail-type-1 :is(.row-1, .row-2),
    .cv>.cv-detail.detail-type-2 :is(.row-1, .row-2),
    .cv>.cv-detail.detail-type-3 :is(.row-1, .row-2) {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        justify-items: start;
    }

    .cv-detail.detail-type-1 .row-3,
    .cv-detail.detail-type-2 .row-3,
    .cv-detail.detail-type-3 .row-3 {
        padding: 5px 10px 0px 0px;
        margin-bottom: 20px;
        font-size: 90%;
    }

    .cv>.cv-detail.detail-type-3>.row-2>.info-3 {
        padding-top: 10px;
    }

    .cv>.cv-detail.detail-type-4>p.info {
        grid-template-columns: auto;
        justify-items: start;
    }

    .cv>.cv-detail.detail-type-4>p.info #period {
        padding-bottom: 10px;
    }

    .cv>.cv-detail.detail-type-4>p.info>#position:before {
        content: "";
    }

    .cv>.cv-detail>.cv-acdmy-entry,
    .cv>.cv-detail>.cv-conf-entry {
        grid-template-columns: auto;
    }

    .cv>.cv-detail>.cv-acdmy-entry :is(.info-2, .info-4),
    .cv>.cv-detail>.cv-conf-entry :is(.info-2, .info-4) {
        text-align: unset;
    }

    .cv>.cv-detail>.detail-skills-1 {
        display: block;
    }

    .cv>.cv-detail>.detail-skills-1>.info-2 {
        margin-bottom: 10px;
    }
    .cv>.cv-details.cv-lang-details {
        display: block;
    }
}